
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv/
venv/
ENV/
env.bak/
env/

# Django stuff:
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

# Pytest
.cache

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# coverage
htmlcov/
.coverage
.coverage.*

# PyCharm
.idea/

# Docker
*.pid
*.seed
*.tar
*.sql
*.sqlite3
*.sock
*.pid
*.log

# Jupyter
.ipynb_checkpoints

# System files
.DS_Store
Thumbs.db
