{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="bt-blog-header-content">
    <section data-bb-version="4.7.6" id="bt_bb_section67f917e1265bc"
        class="bt_bb_section bt_bb_color_scheme_11 bt_bb_layout_boxed_1200 bt_bb_vertical_align_top bt_bb_bottom_section_coverage_image bt_bb_section_with_bottom_coverage_image bt_bb_top_spacing_large bt_bb_bottom_spacing_large bt_bb_negative_margin_none"
        style="; --section-primary-color:var(--light-color); --section-secondary-color:var(--transparent-color);"
        data-bt-override-class="{&quot;bt_bb_top_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_top_spacing_large&quot;,&quot;xxl&quot;:&quot;large&quot;},&quot;bt_bb_bottom_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_bottom_spacing_large&quot;,&quot;xxl&quot;:&quot;large&quot;},&quot;bt_bb_negative_margin_&quot;:{&quot;current_class&quot;:&quot;bt_bb_negative_margin_none&quot;,&quot;xxl&quot;:&quot;none&quot;}}">
        <div class="bt_bb_background_image_holder_wrapper">
            <div class="bt_bb_background_image_holder btLazyLoadBackground"
                data-background_image_src="{% static 'images/featured_image_portfolio.jpg' %}"
                data-parallax-zoom-start="1" data-parallax-zoom-end="1" data-parallax-blur-start="0"
                data-parallax-blur-end="0" data-parallax-opacity-start="1" data-parallax-opacity-end="1"
                style=" background-image: url();">
            </div>
        </div>
        <div class="bt_bb_port">
            <div class="bt_bb_cell">
                <div class="bt_bb_cell_inner">
                    <div class="bt_bb_row " data-bt-override-class="{}">
                        <div class="bt_bb_row_holder">
                            <div data-bb-version="4.7.6"
                                class="bt_bb_column col-xxl-12 col-xl-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 bt_bb_vertical_align_top bt_bb_align_center bt_bb_padding_normal bt_bb_animation_fade_in zoom_in animate bt_bb_border_top_none bt_bb_border_bottom_none bt_bb_border_right_none bt_bb_border_left_none bt_bb_border_thickness_1px"
                                style="; --column-width:12;" data-width="12"
                                data-bt-override-class="{&quot;bt_bb_align_&quot;:{&quot;current_class&quot;:&quot;bt_bb_align_center&quot;,&quot;xxl&quot;:&quot;center&quot;},&quot;bt_bb_padding_&quot;:{&quot;current_class&quot;:&quot;bt_bb_padding_normal&quot;,&quot;xxl&quot;:&quot;normal&quot;},&quot;bt_bb_border_top_&quot;:{&quot;current_class&quot;:&quot;bt_bb_border_top_none&quot;,&quot;xxl&quot;:&quot;none&quot;},&quot;bt_bb_border_bottom_&quot;:{&quot;current_class&quot;:&quot;bt_bb_border_bottom_none&quot;,&quot;xxl&quot;:&quot;none&quot;},&quot;bt_bb_border_right_&quot;:{&quot;current_class&quot;:&quot;bt_bb_border_right_none&quot;,&quot;xxl&quot;:&quot;none&quot;},&quot;bt_bb_border_left_&quot;:{&quot;current_class&quot;:&quot;bt_bb_border_left_none&quot;,&quot;xxl&quot;:&quot;none&quot;}}">
                                <div class="bt_bb_column_content">
                                    <div class="bt_bb_column_content_inner">
                                        <div data-bb-version="4.6.1"
                                            class="bt_bb_separator_v2 bt_bb_border_style_none bt_bb_top_spacing_none bt_bb_bottom_spacing_large bt_bb_border_thickness_1 bt_bb_icon_size_normal bt_bb_text_size_normal bt_bb_separator_v2_without_content"
                                            data-bt-override-class="{&quot;bt_bb_top_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_top_spacing_none&quot;,&quot;xxl&quot;:&quot;none&quot;},&quot;bt_bb_bottom_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_bottom_spacing_large&quot;,&quot;xxl&quot;:&quot;large&quot;},&quot;bt_bb_border_thickness_&quot;:{&quot;current_class&quot;:&quot;bt_bb_border_thickness_1&quot;,&quot;xxl&quot;:&quot;1&quot;},&quot;bt_bb_icon_size_&quot;:{&quot;current_class&quot;:&quot;bt_bb_icon_size_normal&quot;,&quot;xxl&quot;:&quot;normal&quot;},&quot;bt_bb_text_size_&quot;:{&quot;current_class&quot;:&quot;bt_bb_text_size_normal&quot;,&quot;xxl&quot;:&quot;normal&quot;}}">
                                            <div class="bt_bb_separator_v2_inner"><span
                                                    class="bt_bb_separator_v2_inner_before"></span><span
                                                    class="bt_bb_separator_v2_inner_content"><span data-ico-=""
                                                        class="bt_bb_icon_holder"></span></span><span
                                                    class="bt_bb_separator_v2_inner_after"></span></div>
                                        </div>
                                        <header data-bb-version="4.7.6"
                                            class="bt_bb_headline bt_bb_font_weight_light bt_bb_subheadline_text_transform_default bt_bb_dash_none bt_bb_subheadline bt_bb_size_extralarge bt_bb_align_inherit"
                                            data-bt-override-class="{&quot;bt_bb_size_&quot;:{&quot;current_class&quot;:&quot;bt_bb_size_extralarge&quot;,&quot;xxl&quot;:&quot;extralarge&quot;},&quot;bt_bb_align_&quot;:{&quot;current_class&quot;:&quot;bt_bb_align_inherit&quot;,&quot;xxl&quot;:&quot;inherit&quot;}}">
                                            <h1 class="bt_bb_headline_tag"><span
                                                    class="bt_bb_headline_content"><span>DFY TOOLS</span></span></h1>
                                            <div class="bt_bb_headline_subheadline">Experience Smart Automation</div>
                                        </header>
                                        <div data-bb-version="4.6.1"
                                            class="bt_bb_separator_v2 bt_bb_border_style_none bt_bb_top_spacing_none bt_bb_bottom_spacing_medium bt_bb_border_thickness_1 bt_bb_icon_size_normal bt_bb_text_size_normal bt_bb_separator_v2_without_content"
                                            data-bt-override-class="{&quot;bt_bb_top_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_top_spacing_none&quot;,&quot;xxl&quot;:&quot;none&quot;},&quot;bt_bb_bottom_spacing_&quot;:{&quot;current_class&quot;:&quot;bt_bb_bottom_spacing_medium&quot;,&quot;xxl&quot;:&quot;medium&quot;},&quot;bt_bb_border_thickness_&quot;:{&quot;current_class&quot;:&quot;bt_bb_border_thickness_1&quot;,&quot;xxl&quot;:&quot;1&quot;},&quot;bt_bb_icon_size_&quot;:{&quot;current_class&quot;:&quot;bt_bb_icon_size_normal&quot;,&quot;xxl&quot;:&quot;normal&quot;},&quot;bt_bb_text_size_&quot;:{&quot;current_class&quot;:&quot;bt_bb_text_size_normal&quot;,&quot;xxl&quot;:&quot;normal&quot;}}">
                                            <div class="bt_bb_separator_v2_inner"><span
                                                    class="bt_bb_separator_v2_inner_before"></span><span
                                                    class="bt_bb_separator_v2_inner_content"><span data-ico-=""
                                                        class="bt_bb_icon_holder"></span></span><span
                                                    class="bt_bb_separator_v2_inner_after"></span></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- cell_inner -->
            </div><!-- cell -->
        </div><!-- port -->
        <div class="bt_bb_section_bottom_section_coverage_image"><img src="{% static 'images/bottom_white_02.png' %}"
                alt="bt_bb_section_bottom_section_coverage_image" /></div>
    </section>
</div>

{% endblock %}